<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>New Member Alert</title>
    <style>
      body { display: flex; align-items: center; justify-content: center;
      font-family: "Roboto","Helvetica","Arial",sans-serif; .ii a[href] { color:
      #FFFFFF; }; } h2,p { color: red; }
    </style>
  </head>
  <body>
    <h2>A New Member Has Been Created.</h2>
    <p>
      A new member with the name: <strong>{{user.name}}</strong> and the email:
      <strong>{{user.email}}</strong> has been created and their welcome email as been sent.
    </p>
  </body>
</html>
