<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Reset Password</title>
    <style>
      body { display: flex; align-items: center; justify-content: center;
      font-family: "Roboto","Helvetica","Arial",sans-serif; .ii a[href] { color:
      #FFFFFF; }; } .button { font: bold 0.875rem Arial; text-decoration: none;
      background-color: #33691E; color: #FFFFFF; padding: 2px 6px 2px 6px;
      border: 1px solid #33691E; border-radius: 5px; } .ii a[href] { color:
      #FFFFFF; } a { color: inherit; text-decoration: none; }
    </style>
  </head>
  <body>
    <h2>Password Reset</h2>
    <p>Please click the link below to reset your password.</p>

    <a href="{{url}}" class="button">Reset Password</a>
    <p><strong>NOTE:</strong>
      this link will expire
      <strong>{{expiration}}</strong>
      Mountain Time</p>
    <h3>Schipke SpKuLeHaS Inc.</h3>
  </body>
</html>