<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Reservation Removed</title>
    <style>
      body { display: flex; align-items: center; justify-content: center; }
      .button { font: bold 11px Arial; text-decoration: none; background-color:
      #33691E; color: #FFFFFF; padding: 2px 6px 2px 6px; border: 1px solid
      #33691E; border-radius: 5px;}
    </style>
  </head>
  <body>
    <h2>Reservation Removed</h2>
    <p>The reservation for: <strong>{{title}}</strong> </p>
    <p>beggining on <strong>{{startDate}}</strong> and ending <strong>{{endDate}}</strong> has been removed.</p>
    <p>Click below to view the calendar.</p>

    <a href="{{url}}" class="button">View Calendar</a>
    <p></p>
    <h3>Schipke SpKuLeHaS Inc.</h3>
  </body>
</html>