<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome Email</title>
    <style>
      body { display: flex; align-items: center; justify-content: center; }
    </style>
  </head>
  <body>
    <h2>Welcome {{user.profile.name}}! </h2>
    <p>Hello,
      {{user.profile.name}}. Welcome to the SpKuLeHaS app! We have your email
      as:
      {{user.email}}</p>
    <p>Your password is: <strong>{{user.password}}</strong></p>
    <p>You can use this information to login at
      {{!-- TODO: USE URL DYNAMICALLY --}}
      <a href="https://spkulehas.com">spkulehas.com</a></p>
    <p>If you have any questions you can contact the admin
      at
      <a href="mailto:spkulehas@gmail.com">spkulehas@gmail.com</a>.</p>
    <p></p>
    <h3>Schipke SpKuLeHaS Inc.</h3>
  </body>
</html>