<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Expired Session Deletion</title>
    <style>
      body { display: flex; align-items: center; justify-content: center;
      font-family: "Roboto","Helvetica","Arial",sans-serif; .ii a[href] { color:
      #FFFFFF; }; }
    </style>
  </head>
  <body>
    <h2>Session Deletion</h2>
    <p>
      {{date}},
      <strong>{{count}}</strong>
      {{#if isSingular}}
        session has been
      {{else}}
        sessions have been
      {{/if}}
      deleted from the
      <strong>{{environment}}</strong>
      api.
    </p>
  </body>
</html>